@model List<SazeNegar.Core.Models.StaticContentDetail>

<!-- Flip banner -->
<a href="/Cars/Index" class="flip-banner parallax" data-background="../../Files/StaticContentImages/image/@Model[0].Image" data-color="#d37912"
   data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
    <div class="flip-banner-content">
        <h2 class="flip-visible">@Html.Raw(@Model[0].Description)</h2>
        <h2 class="flip-hidden">@Model[0].ShortDescription <i class="sl sl-icon-arrow-left"></i></h2>
    </div>
</a>
<!-- Flip banner / End -->
