@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Html.Action("Banner", "Home")*@


<!-- Content
================================================== -->


@Html.Action("Carousel", "Home")


<!-- Fullwidth Section -->
<section class="fullwidth margin-top-105" data-background-color="#f7f7f7">

    <!-- Box Headline -->
    <h3 class="headline-box">به دنبال چه چیزی می گردید؟</h3>

    <!-- Content -->
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">

                    <div class="icon-container">
                        <i><img src="~/Content/AutoGallery/images/38.png" alt=""></i>
                        <div class="icon-links">
                            <a href="cars.html">فروشی</a>
                            <!-- <a href="cars.html">اجاره ی</a> -->
                        </div>
                    </div>

                    <h3>لوکس</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                        است.
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">

                    <div class="icon-container">
                        <i><img src="~/Content/AutoGallery/images/39.png" alt=""></i>
                        <div class="icon-links">
                            <a href="cars.html">فروشی</a>
                            <!-- <a href="cars.html">اجاره ی</a> -->
                        </div>
                    </div>

                    <h3>شاسی بلند</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                        است.
                    </p>

                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">

                    <div class="icon-container">
                        <i><img src="~/Content/AutoGallery/images/36.png" alt=""></i>
                        <div class="icon-links">
                            <a href="cars.html">فروشی</a>
                            <!-- <a href="cars.html">اجاره ی</a> -->
                        </div>
                    </div>

                    <h3>آفرود</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                        است.
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">

                    <div class="icon-container">
                        <i><img src="~/Content/AutoGallery/images/37.png" alt=""></i>
                        <div class="icon-links">
                            <a href="cars.html">فروشی</a>
                            <!-- <a href="cars.html">اجاره ی</a> -->
                        </div>
                    </div>

                    <h3>دودر</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                        است.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Fullwidth Section / End -->
<!-- Container -->
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h3 class="headline centered margin-bottom-35 margin-top-10">
                محبوب ترین برند ها <span>
                    خودرو از
                    بهترین مدل ها
                </span>
            </h3>
        </div>

        <div class="col-md-4">

            <!-- Image Box -->
            <a href="cars.html" class="img-box" data-background-image="../../Content/AutoGallery/images/7.jpg">

                <!-- Badge -->
                <div class="listing-badges">
                    <span class="featured">ویژه</span>
                </div>

                <div class="img-box-content visible">
                    <h4>بی ام دبلیو </h4>
                    <span>2020</span>
                </div>
            </a>

        </div>

        <div class="col-md-8">

            <!-- Image Box -->
            <a href="cars.html" class="img-box" data-background-image="../../Content/AutoGallery/images/8.jpg">
                <div class="img-box-content visible">
                    <h4>بنز</h4>
                    <span>2021</span>
                </div>
            </a>

        </div>

        <div class="col-md-8">

            <!-- Image Box -->
            <a href="cars.html" class="img-box" data-background-image="../../Content/AutoGallery/images/9.jpg">
                <div class="img-box-content visible">
                    <h4>تویوتا</h4>
                    <span>2016</span>
                </div>
            </a>

        </div>

        <div class="col-md-4">

            <!-- Image Box -->
            <a href="cars.html" class="img-box" data-background-image="../../Content/AutoGallery/images/10.jpg">
                <div class="img-box-content visible">
                    <h4>رنو</h4>
                    <span>2020</span>
                </div>
            </a>

        </div>

        <div class="col-md-4">

            <!-- Image Box -->
            <a href="cars.html" class="img-box" data-background-image="../../Content/AutoGallery/images/11.png">
                <div class="img-box-content visible">
                    <h4>فراری</h4>
                    <span>2019</span>
                </div>
            </a>

        </div>

        <div class="col-md-8">

            <!-- Image Box -->
            <a href="cars.html" class="img-box" data-background-image="../../Content/AutoGallery/images/12.jpg">
                <div class="img-box-content visible">
                    <h4>مازراتی</h4>
                    <span>2021</span>
                </div>
            </a>

        </div>

    </div>
</div>
<!-- Container / End -->
<!-- Fullwidth Section -->
<section class="fullwidth margin-top-95 margin-bottom-0">

    <!-- Box Headline -->
    <h3 class="headline-box">مقالات و نکته ها</h3>

    <div class="container">
        <div class="row">

            <div class="col-md-4">

                <!-- Blog Post -->
                <div class="blog-post">

                    <!-- Img -->
                    <a href="blog-post.html" class="post-img">
                        <img src="~/Content/AutoGallery/images/38.jpg" alt="">
                    </a>

                    <!-- Content -->
                    <div class="post-content">
                        <h3><a href="blog-post.html">مقاله شماره 1</a></h3>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک
                            است.
                        </p>

                        <a href="blog-post.html" class="read-more">ادامه <i class="fa fa-angle-left"></i></a>
                    </div>

                </div>
                <!-- Blog Post / End -->

            </div>

            <div class="col-md-4">

                <!-- Blog Post -->
                <div class="blog-post">

                    <!-- Img -->
                    <a href="blog-post.html" class="post-img">
                        <img src="~/Content/AutoGallery/images/39.jpg" alt="">
                    </a>

                    <!-- Content -->
                    <div class="post-content">
                        <h3><a href="blog-post.html">مقاله شماره 2</a></h3>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک
                            است.
                        </p>

                        <a href="blog-post.html" class="read-more">ادامه <i class="fa fa-angle-left"></i></a>
                    </div>

                </div>
                <!-- Blog Post / End -->

            </div>

            <div class="col-md-4">

                <!-- Blog Post -->
                <div class="blog-post">

                    <!-- Img -->
                    <a href="blog-post.html" class="post-img">
                        <img src="~/Content/AutoGallery/images/40.jpg" alt="">
                    </a>

                    <!-- Content -->
                    <div class="post-content">
                        <h3><a href="blog-post.html">مقاله شماره 3</a></h3>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک
                            است.
                        </p>

                        <a href="blog-post.html" class="read-more">ادامه <i class="fa fa-angle-left"></i></a>
                    </div>

                </div>
                <!-- Blog Post / End -->

            </div>

        </div>
    </div>
</section>
<!-- Fullwidth Section / End -->
<!-- Flip banner -->
<a href="cars.html" class="flip-banner parallax" data-background="../../Content/AutoGallery/images/12.jpg" data-color="#d37912"
   data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
    <div class="flip-banner-content">
        <h2 class="flip-visible">ما به مردم و ماشین ها کمک می کنیم که همدیگر را پیدا کنند :)</h2>
        <h2 class="flip-hidden">مشاهده ماشین ها <i class="sl sl-icon-arrow-left"></i></h2>
    </div>
</a>
<!-- Flip banner / End -->
