@model List<SazeNegar.Core.Models.Project>
<div class="section-area section-sp3 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-bx text-center m-b0">
                    <h6 class="title-ext m-b0"> پروژه های ما</h6>
                    <h2 class="title-head m-b0"> پروژه های اخیر ما </h2>
                    <div class="ttr-separator sepimg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="process-carousel owl-carousel magnific-image">
        @foreach (var item in  Model)
        {
            <div class="item">
                <div class="portfolio-box style-2">
                    <div class="portfolio-media">
                        <img src="/Files/ProjectImages/Image/@item.Image" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4 class="title"><a href="/Project/Details/@item.Id">@item.Title</a></h4>
                        <span class="exe-title">@item.ShortDescription</span>
                    </div>
                    <a href="/Files/ProjectImages/Image/@item.Image" class="magnific-anchor right">
                        مشاهده تصویر
                    </a>
                </div>
            </div>
        }

    </div>
</div>
