@model List<SazeNegar.Core.Models.Testimonial>

<div class="section-area section-sp2 ovbl-dark"
     style="background-image: url(/Content/client/images/background/bg4.jpg); background-position:center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="testimonial-carousel-1 owl-none owl-carousel dots-style-2">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="testimonial-bx style3">
                                <div class="testimonial-content">
                                    <p>
                                        @item.Description
                                    </p>
                                </div>
                                <div class="client-info">
                                    <div class="testimonial-thumb radius-xl">
                                        <img src="/Files/TestimonialImages/@item.Image" alt="">
                                    </div>
                                    <div class="testimonial-info">
                                        <h6 class="name">@item.Title</h6>
                                        <p>@item.Role</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
