@model List<SazeNegar.Core.Models.Cars>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("Titlebar", "Cars")

<!-- Content
================================================== -->
<div class="container">
    <div class="row sticky-wrapper">

        @Html.Action("Sidebar", "Cars")

    </div>
</div>

<div class="margin-top-55"></div>
