
@Html.Action("Titlebar", "Cars")


<!-- Content
================================================== -->
<div class="container">
    <div class="row sticky-wrapper">

    @Html.Action("Sidebar", "Cars")

    @Html.Action("CarList", "Cars")

    </div>
</div>

<div class="margin-top-55"></div>
