
@model List<SazeNegar.Core.Models.ArticleTag>

<div class="widget widget_tag_cloud">
    <h6 class="widget-title">برچسب‌ها</h6>
    <div class="tagcloud">
        @foreach (var item in Model)
        {
            <a href="javascript:void(0)">@item.Title</a>
        }
    </div>
</div>