        <!-- Content
        ================================================== -->
        <div class="container">

            <!-- Blog Posts -->
            <div class="blog-page">
                <div class="row">

                    @Html.Action("BlogList", "Blog")

                    <!-- Blog Posts / End -->
                    <!-- Widgets -->
                    <div class="col-md-4">
                        <div class="sidebar right">

                            <!-- Widget -->
                            <div class="widget">
                                <h3 class="margin-top-0 margin-bottom-25">جست و جو در وبلاگ</h3>
                                <div class="search-blog-input">
                                    <div class="input">
                                        <input class="search-field" type="text"
                                               placeholder="کلمه ی مورد نظر + دکمه ی اینتر :)" value="" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!-- Widget / End -->
                            <!-- Widget -->
                            <div class="widget">
                                <h3>سوالی دارید؟</h3>
                                <div class="info-box margin-bottom-10">
                                    <p>اگر سوالی دارید از ما بپرسید :)</p>
                                    <a href="contact.html" class="button fullwidth margin-top-20">
                                        <i class="fa fa-envelope-o"></i> تماس با ما
                                    </a>
                                </div>
                            </div>
                            <!-- Widget / End -->
                            <!-- Widget -->
                            <div class="widget">

                                <h3>مقاله های محبوب</h3>
                                <ul class="widget-tabs">

                                    <!-- Post #1 -->
                                    <li>
                                        <div class="widget-content">
                                            <div class="widget-thumb">
                                                <a href="blog-post.html"><img src="images/32.jpeg" alt=""></a>
                                            </div>

                                            <div class="widget-text">
                                                <h5><a href="blog-post.html">مقاله شماره 3 </a></h5>
                                                <span>5 آبان 1399</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>

                                    <!-- Post #2 -->
                                    <li>
                                        <div class="widget-content">
                                            <div class="widget-thumb">
                                                <a href="blog-post.html"><img src="images/38.jpg" alt=""></a>
                                            </div>

                                            <div class="widget-text">
                                                <h5><a href="blog-post.html">مقاله شماره 2</a></h5>
                                                <span>19 آبان 1399</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>

                                    <!-- Post #3 -->
                                    <li>
                                        <div class="widget-content">
                                            <div class="widget-thumb">
                                                <a href="blog-post.html">
                                                    <img src="images/39.jpg"
                                                         alt="">
                                                </a>
                                            </div>

                                            <div class="widget-text">
                                                <h5><a href="blog-post.html">مقاله شماره 1</a></h5>
                                                <span>22 آبان 1399</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                            <!-- Widget / End-->
                            <!-- Widget -->
                            <div class="widget">
                                <h3 class="margin-top-0 margin-bottom-25">شبکه اجتماعی</h3>
                                <ul class="social-icons rounded">
                                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                                </ul>

                            </div>
                            <!-- Widget / End-->

                            <div class="clearfix"></div>
                            <div class="margin-bottom-40"></div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar / End -->


            </div>
        </div>


        <!-- Footer
        ================================================== -->
        <div class="margin-top-55"></div>
