@model List<SazeNegar.Web.ViewModels.TopArticlesViewModel>

<!-- Widget -->
<div class="widget">

    <h3>مقاله های محبوب</h3>
    <ul class="widget-tabs">

        @foreach (var item in Model)
        {
            <!-- Post #1 -->
            <li>
                <div class="widget-content">
                    <div class="widget-thumb">
                        <a href="/Blog/Details/@item.Id"><img src="~/Files/ArticleImages/Thumb/@item.Image" alt=""></a>
                    </div>

                    <div class="widget-text">
                        <h5><a href="/Blog/Details/@item.Id">"@item.Title"</a></h5>
                        <span>@item.PersianDate</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
        }
    </ul>

</div>
<!-- Widget / End-->
