<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>اتوگالری</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/Content/AutoGallery/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/AutoGallery/css/style.css">
    <link rel="stylesheet" href="~/Content/AutoGallery/css/color.css">
    
    <link rel="stylesheet" href="~/Content/AutoGallery/css/About-us/style.css">
    <link rel="stylesheet" href="~/Content/fonts/car-font/flaticon.css">
    <link rel="stylesheet" href="~/Content/AutoGallery/my-style.css">
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        @Html.Action("Navbar", "Home")

        @RenderBody()

        @Html.Action("Footer", "Home")

        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>


        <!-- Scripts
        ================================================== -->
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/jquery-migrate-3.1.0.min.js"></script>
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/chosen.min.js"></script>
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/magnific-popup.min.js"></script>
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/rangeSlider.js"></script>
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/sticky-kit.min.js"></script>
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/slick.min.js"></script>
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/masonry.min.js"></script>
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/mmenu.min.js"></script>
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/tooltips.min.js"></script>
        <script type="text/javascript" src="~/Content/AutoGallery/scripts/custom.js"></script>

        <!-- Google Autocomplete -->
        <script>
            function initAutocomplete() {
                var input = document.getElementById('autocomplete-input');
                var autocomplete = new google.maps.places.Autocomplete(input);

                autocomplete.addListener('place_changed', function () {
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                        window.alert("No details available for input: '" + place.name + "'");
                        return;
                    }
                });
            }</script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"></script>


    </div>
    <!-- Wrapper / End -->


</body>

</html>

